#design-by {
    position: relative;
    top: -100px;
}

#design-by .design-container {
    background: #6066F2;
    position: relative;
    overflow: hidden;
}

#design-by .design-container .bg-container{
    background: #6066F2;
    position: relative;
    overflow: hidden;
}

#design-by .design-container:after {
    content: "";
    display: table;
    clear: both;
}

#design-by .design-container .bg-image {
    position: absolute;
    width: 500px;
    z-index: 0;
    opacity: .3;
    right: 0;
}

#design-by .design-container .info-section {
    width: 40%;
    display: inline-block;
    float: left;
    padding: 45px;
    position: relative;
    z-index: 2;
}

#design-by .design-container .info-section h5 {
    color: #FEA83B;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#design-by .design-container .info-section h3 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

#design-by .design-container .info-section .info-list {
    margin-bottom: 4rem;
}

#design-by .design-container .info-section .info-list li {
    list-style: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
    vertical-align: top;
}

#design-by .design-container .info-section .info-list li .circle {
    background: #FEA83B;
    display: inline-block;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

#design-by .design-container .info-section .info-list li .circle .fas{
    position: absolute;
    top: 6px;
    left: 5px;

}

#design-by .design-container .info-section .white-btn {
    background: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 20px 65px;
    color: #6066F2;
    font-weight: 700;
    font-size: 1rem;
    display:inline-block;
}

#design-by .design-container .icons-section {
    width: 60%;
    background: white;
    display: inline-block;
    float: left;
    position: relative;
    z-index: 2;
}