#latest {
    padding: 50px 0;
}

#latest .header {
   padding: 50px 0;
}

#latest .header:after {
    content: "";
    display: table;
    clear: both;
}

#latest .header h1 {
    color: #6066f2;
    font-size: 4.2rem;
    max-width: 400px;
    width: 100%;
    display: inline-block;
    float: left;   
}

#latest .header .directions {
    display: inline-block;
    float: right;   
    position: relative;
    top: 35px;
}

#latest .header .directions .move-left{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    float: left;  
    padding: 20px 70px;
    font-size: 3rem;
    background: #6066f2;
    color: white;
    border: 1px solid white;
}


#latest .header .directions .move-right{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    float: right;  
    padding: 20px 70px;
    font-size: 3rem;
    background:white;
    color: #cecece;
    border: 1px solid #cecece;
}

#latest .body {
    padding: 100px 0;
}

#latest .body:after {
    content: "";
    display: table;
    clear: both;
}

#latest .body .column {
    width:33.33%;
    float: left;
    padding:  0 15px;
    text-align: center;
}

#latest .body .column .bg-square {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,821a1a+0,3e0d47+50,d673c4+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #1e5799 0%, #821a1a 0%, #3e0d47 50%, #d673c4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#821a1a 0%,#3e0d47 50%,#d673c4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #1e5799 0%,#821a1a 0%,#3e0d47 50%,#d673c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d673c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: relative;
}

#latest .body .column .bg-square img {
    width: 80%;
    position: absolute;
    top: -30%;
    left: 10%;
}

#latest .body .column .bg-square .cart {
    width: 94px;
    height: 94px;
    border: 10px solid white;
    position: absolute;
    top: -47px;
    right: -47px;
    border-radius: 50%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,821a1a+0,3e0d47+50,d673c4+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #1e5799 0%, #821a1a 0%, #3e0d47 50%, #d673c4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #1e5799 0%,#821a1a 0%,#3e0d47 50%,#d673c4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #1e5799 0%,#821a1a 0%,#3e0d47 50%,#d673c4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#d673c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
}

#latest .body .column .bg-square .cart .fas {
    font-size: 2rem;
    position: relative;
    top: 22px;
    left: -3px;
}

