#top-jumbo {
  padding: 0 0 400px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 21%,
    #ffffff 29%,
    #ffffff 36%,
    #5027f4 75%,
    #e499f7 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 21%,
    #ffffff 29%,
    #ffffff 36%,
    #5027f4 75%,
    #e499f7 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ffffff 21%,
    #ffffff 29%,
    #ffffff 36%,
    #5027f4 75%,
    #e499f7 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#top-jumbo:after {
  content: "";
  display: table;
  clear: both;
}

#top-jumbo .left-side {
  width: 40%;
  display: inline-block;
  float: left;
}

#top-jumbo .left-side .large-number {
  font-size: 300px;
  font-weight: 700;
  opacity: 0.1;
  color: #4c44c1;
  position: relative;
  left: -26px;
  top: 40px;
  z-index: 1;
}

#top-jumbo .left-side .info-container {
  position: relative;
  top: -50px;
  background: red;
}

#top-jumbo .left-side .info-container h1 {
  font-size: 4.5rem;
  color: #4c44c1;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
#top-jumbo .left-side .info-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: #aaacaf;
  text-transform: uppercase;
}

#top-jumbo .right-side {
  width: 60%;
  display: inline-block;
  float: left;
}

#top-jumbo .right-side img {
  width: 100%;
}
